BankAppForm.Soap/Service References/BankAppTransactionService/TransactionWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Deposit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DepositResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Withdraw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WithdrawResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WithdrawResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="senderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="receiverId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TransferResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DepositSoapIn">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="DepositSoapOut">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="WithdrawSoapIn">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="WithdrawSoapOut">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="TransferSoapIn">
    <wsdl:part name="parameters" element="tns:Transfer" />
  </wsdl:message>
  <wsdl:message name="TransferSoapOut">
    <wsdl:part name="parameters" element="tns:TransferResponse" />
  </wsdl:message>
  <wsdl:portType name="TransactionWebServiceSoap">
    <wsdl:operation name="Deposit">
      <wsdl:input message="tns:DepositSoapIn" />
      <wsdl:output message="tns:DepositSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input message="tns:WithdrawSoapIn" />
      <wsdl:output message="tns:WithdrawSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <wsdl:input message="tns:TransferSoapIn" />
      <wsdl:output message="tns:TransferSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionWebServiceSoap" type="tns:TransactionWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/Withdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap:operation soapAction="http://tempuri.org/Transfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransactionWebServiceSoap12" type="tns:TransactionWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deposit">
      <soap12:operation soapAction="http://tempuri.org/Deposit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap12:operation soapAction="http://tempuri.org/Withdraw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transfer">
      <soap12:operation soapAction="http://tempuri.org/Transfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionWebService">
    <wsdl:port name="TransactionWebServiceSoap" binding="tns:TransactionWebServiceSoap">
      <soap:address location="http://localhost:59274/TransactionWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TransactionWebServiceSoap12" binding="tns:TransactionWebServiceSoap12">
      <soap12:address location="http://localhost:59274/TransactionWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>